@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <h1> Blankets </h1>
    <link href="~/css/style.css" rel="stylesheet" />

    <p> About Us</p>
    
    <img src="~/Image/Blankets.jpg" alt="Blanket"/>

    <p> Welcome to Blankets, your go-to source for high-quality and cozy blankets! Our company was founded with the simple mission of providing the world with the most comfortable and stylish blankets on the market. We believe that everyone deserves a good night's sleep, and our blankets are designed to help you achieve just that.</p>
    <p> Corporate Headquarters:
    Our company is headquartered in the heart of downtown, in a modern and spacious office building. We have a team of dedicated professionals who work tirelessly to ensure that our blankets are of the highest quality and meet the needs of our customers. We are proud of our talented and experienced staff, who bring a wealth of expertise and creativity to the table.
    </p>
    <p> Our Team:
    Our team consists of passionate and talented individuals who are dedicated to creating the best blankets on the market. From our designers to our production staff, everyone at Blankets is committed to delivering high-quality products and exceptional customer service. We believe that our team is what sets us apart from the competition, and we take great pride in the work that we do.
    </p>
    <p> Our Products:
    At Blankets, we offer a wide range of blankets in various materials and styles, including cotton, wool, and faux fur. Our blankets are designed to meet the needs of our customers, whether they are looking for a cozy throw to snuggle up with on the couch or a warm comforter to keep them comfortable on a cold winter night. We take great care in selecting the materials that we use in our products, ensuring that they are of the highest quality and meet our standards for comfort and durability.</p>


}
